<h1></h1>
<div class="d-flex flex-wrap mx-5 px-5">
  <div id="card-camps-one">
    <%= render 'assignments/camp', assignments: @assignments %>
  </div>
  <div class="container" id='calendar'>
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>
  <div class="create-camp">
    <%= link_to "Create Camp", camps_path, class: "btn" %>
  </div>
</div>
