<h1></h1>
<div class="container" id="index-cards">
  <div class="carts" id="cart-camps">
    <%= render 'assignments/camp', assignments: @assignments %>
    <div class="carts" id="cart-camps">
    </div>
  </div>
  <%= render 'camps/form', camp: @camp %>
