<div class="container">
  <h1><%= @assignment.camp.camp_name%></h1>
  <div>
    <ul>
      <% @assignment.users.each do |user|%>
        <li> <%=user.first_name %>
          <% user.last_name %>
          <% user.training %>
          <% user.past_rolese %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
