.newsfeed {
  text-align: center;
  flex-grow: 2;

    h2 {
      font-size: 36px;
    }
}

.upcoming-camps {
  width: 5vw;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1%);
  padding: 8px;
  position: sticky;
  top: 4vh;
  flex-grow: 1;

    h3 {
      text-align: center;
    }
}
