.newsfeed {
  flex-grow: 1;
  text-align: center;

    h2 {
      font-size: 36px;
    }

    .newsfeed-card {
      overflow: hidden;
      width: 75%;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      border-radius: 30px;
      position: relative;
      transition: 0.5s;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
          z-index: 2;
          border-color: #007bff !important;
        }
    }

    .newsfeed-card img {
      height: 100%;
      width: 12vw;
      object-fit: cover;
    }

    .newsfeed-card h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      text-align: justify;
    }

    .newsfeed-card p {
      font-size: 16px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
      text-align: justify;
    }

    .newsfeed-card .newsfeed-card-infos {
      padding: 20px;

        .lower-right-location {
          position: absolute;
          bottom: 16px;
          right: 16px;
          color: rgb(140, 138, 138);
          font-size: 12px;
        }

        .lower-left-date {
          // position: absolute;
          // bottom: 8px;
          // left: 16px;
          color: rgb(140, 138, 138);
          font-size: 12px;
        }
    }

}

.upcoming-camps {
  // border-radius: 4px;
  // box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1%);
  // padding: 8px;
  position: sticky;
  top: 4vh;
  // padding: 24px;
  height: 100%;
  width: 25vw;

    h3 {
      font-size: 24px;
    }

}
