.card-category {
  height: 20rem;
  width: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.camp-card-completed {
  margin-bottom: 0;
  color: #B3E8E5;
}

.camp-card-not-completed {
  margin-bottom: 0;
}

.show-h1 {
  margin-bottom: 0;
}

.card-p {
  margin-bottom: 0;
}

.show-h1 {
  font-weight: bolder;
}

.cta-button {
  background-color: #B3E8E5;
  text-shadow: 0.5px 0.5px 0px #3bacb6;
	border: 0;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
	color: #fff;
	font-size: 16px;
  font-weight: bolder;
	padding: 12px 25px;
	letter-spacing: 1px;
}

.camp-information {
  background-color: #F6F7F8;
}

.camp-container {
  height: 400px;
}
