<div class="comment inline-text">
  <h1>Share your comments with us!</h1>
  <%= simple_form_for [camp, comment] do |f| %>
    <%= f.input :contant, label: false %>
    <%= f.button :submit, "submit" %>
  <% end %>
</div>
