<div class="container mt-2">
  <div class="row">
    <div class="camp-card">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="camp-card-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="camp-card-pricing">£99.99</h2>
      </div>
    </div>
  </div>
</div>
