<article class="card">
  <div class="card_publication">
    <img src="" alt="">
    <div>
      <span class="card_author">
        <i class="ri-user-line"></i>
      </span>
      <span class="card_date">
        <i class="ri-calendar-line"></i>
      </span>
    </div>
  </div>
  <div class="card_info">
    <h2 class="card_title"></h2>
    <span class="card_subtitle"></span>
    <p class="card_description"></p>
    <a href="#" class="card_cta"></a>
  </div>
</article>
