<div class="card-product">
  <img src="https://thispersondoesnotexist.com/image" />
  <div class="card-product-infos">
    <h2>John Doe</h2>
    <h2>The <%= users.last_name %> Family</h2>
    <p>Volunteer description with <strong> info</strong></p>
  </div>
</div>
