<div class="card-container">
  <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
  <h2>John Doe</h2>
  <h6>Location : Kyoto,Japan</h6>
  <p>Speciality : Psychologist<br/>
  </p>
  <div class="buttons">
    <button class="primary">
      Message
    </button>
  </div>
</div>
