<div class="banner mb-5">
    <div class="container ms-5">
      <h1>Help Build a Better World with Not Alone</h1>
      <p>Become a volunteer and make a difference today!</p>
      <%= link_to 'Upcoming Camps', camps_path, class: 'btn btn-secondary' %>
    </div>
</div>
