<div class="top-banner">
	<div class="top-banner--text">
		<h1>Build a Better World with</h1>
    <h1 class= "brand">Not Alone</h1>
			<p>Become a volunteer for a trauma care camp and make a difference today!</p>
      <%= link_to 'Join a Camp', camps_path, class: 'btn btn-lg btn-info text-white mt-2 border' %>
		</div>
</div>
