<div class="top-banner">
	<div class="top-banner--text">
		<h1>Build a Better World with Not Alone</h1>
			<p>Become a volunteer and make a difference today!</p>
      <%= link_to 'Upcoming Camps', camps_path, class: 'btn btn-secondary mt-2' %>
		</div>
</div>
