<div class="banner mb-5">
    <div class="container ms-2">
      <h1>Not Alone</h1>
      <p>Build a better world together.</p>
      <a class="btn btn-primary" href="#">Browse Upcoming Camps</a>
    </div>
</div>
