<div class="newsfeed-card mb-5">
  <img src= <%=camp.images %> />
  <div class="newsfeed-card-infos">
    <h2><%= camp.camp_name.capitalize %></h2>
    <p><%= camp.newsfeed_post.truncate(150) %></p>
  </div>
</div>
