<div class="home-conatiner">
  <%= render "banner" %>
  <div class="container d-flex justify-content-between">
    <div class="newsfeed">
      <h2>Newsfeed</h2>
    </div>
    <div class="upcoming-camps">
      <h3>Upcoming</h3>
    </div>
  </div>
</div>
