
#index-cards {
  display: flex;
}

.create-camp .btn {
  position: sticky;
  top: 92%;
  right: 0;
  background-color: #B3E8E5;
  text-shadow: 0.5px 0.5px 0px #3bacb6;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
	color: #fff;
	font-size: 16px;
	padding: 0px 25px;
  height: 48px;
	// position: absolute;
	letter-spacing: 1px;
}

#calendar {
  width: 25%;
}

.create-ass-form {
  position: fixed;
  top: 7vh;
  right: 2vw;
  width: 50vw;

}

.color-change p {
  // height: 8px;
  margin: 0;
  padding: 0;
  line-height: 0.5em;
}
