.comment {
  max-width: 75%;
  width: 45%;
  padding: 10px 20px;
  background-color:rgba($color: #B3E8E5, $alpha: 0.5);
  margin-left: 5%;
  margin-bottom: 30px;

}

.form-title {
  display: flex;
  justify-content: center;
  color: #fff;
}

.inline-text {
  color: #3BACB6;
}

.form-date {
  border-radius: 10%;
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #fff;
  color: #3BACB6;
  border: 1px solid #3BACB6;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #3BACB6;
  color: white;
}

.description {
  width: 100%;
}
#new_comment .btn {
  background-color: #3BACB6;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
  color: #fff;
  font-size: 16px;
}

.button-to-right {

  display: flex;
  justify-content: right;

  .btn {
    background-color: #3BACB6;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
    color: #fff;
    font-size: 16px;
  }
}



.avatar-coment {
  border: 0.2rem solid white;
  border-radius: 50%;
  padding: 0px;
  margin-top: 1rem;
  text-align: center;
  display: inline-block;
  height: 64px;
  background-size: cover;
  width: 64px;
  margin-left: 40% !important;
}

.one-comment {
  background-color:rgba($color: #B3E8E5, $alpha: 0.5);
  width: 300px;
  margin-left: 20%;
  text-align: center;
  margin-bottom: 30px;
}
.comment-time {
  font-size: 8px;
}
