.footer {
  background: transparent;
  align-items: center;
  height: 1px;
  padding: 0px 03px;
  color: rgba(0, 0, 0, 0.3);
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  flex-shrink: 0;
}
.footer-links {
  display: flex;
  align-items: center;
  size: 0ch;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #d23333;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

.footer-image {
  width: 27px;
}

.footer-copyright {
  font-size: 12px;
}