#map {
  border-radius: 16px;
  width: 100%;
  height: 550px;
  margin-top: 2.5%;
  position: sticky;
  top: 20%;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 16px;
}

.mapboxgl-popup-content {
  text-align: center;

}
.courses h1 {
  text-align: center;
}

.preview {
background-size: cover;
}

.searching-form .form-control {
  width: 100%;
  background-color: rgba(#B3E8E5, 0.5);
  text-shadow: 0.5px 0.5px 0px #3bacb6;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
  color: #3c3c3c;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
  opacity: 70%;
}
.searching-form {
  position: fixed;
  top: 8%;
  width: 30%;
}

#query:focus {
  border: 2px solid #3bacb6;
  opacity: 100%;
}

.search{
  background-color: #B3E8E5;
  text-shadow: 0.5px 0.5px 0px #3bacb6;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	letter-spacing: 1px;
  margin-right: 10%;
}
.mapboxgl-popup-content {
  // background-color: #e8e8e8 !important;
  max-width: none !important;
  width: 100% !important;
  border: 1px solid lightgrey !important;
  box-shadow: none !important;
  background-color: rgba(#e8e8e8, 0.6) !important;
  &h1 {
font-size: 16px !important;
  }
}
