.navbar-lewagon {
  justify-content: space-between;
  background: #90b9bb;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 146px;
  border-radius: 5px;
}
