.volunteer-card {
  background-color: transparent;
  border-color: 2rem solid #82dbd8;
  color: #2d2d2d;
  max-width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.volunteer-card .round {
  border: 0.2rem solid white;
  background-size: cover;
  border-radius: 50%;
  padding: 0px;
  margin-top: 1rem;
  height: 80px;
  width: 80px;
  text-align: center;
}

.volunteer-card .round:hover {
  border: 0.2rem solid #82dbd8;
}

.inner-card {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: relative;
  width: 20rem;
}

.border-color {
  border: 2px solid #82dbd8;
}

.positioning-icon {
  display: flex;
  justify-content: right;
}

.pending-icon {
  color: gray;
  font-size:36px;
  opacity: 90%;
}
.confirm-icon {
  color: #82dbd8;
  font-size:36px;
  opacity: 90%;
}
.decline-icon {
  color: red;
  font-size:36px;
  opacity: 90%;
}

.roles-border {
  border: 0.2rem solid #82dbd8;
  text-align: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
