.volunteer-card {
  background-color: transparent;
  border-color: 2rem solid #82dbd8;
  color: #2d2d2d;
  max-width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.volunteer-card .round {
  border: 2px solid gray;
  background-size: cover;
  border-radius: 50%;
  padding: 0px;
  margin-top: 1rem;
  height: 100px;
  width: 100px;
  text-align: center;
}

.volunteer-card .round:hover {
  border: 2px solid #82dbd8;
}

.inner-card {
  width: 160px;
  padding: 1rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
