.news-card-new {
  background-color: #b3e8e5;
  color: #fff;
  text-shadow: 1px 1px 0px #000000;
  padding: 100px;
  background-size: cover;
  // padding-top: 8%;
  // padding-left: 4%;
  // padding-right: 4%;
  // max-width: 250px;
  // text-align: center;
  border-radius: 32px;

}
.newsfeed-card-new {
  overflow: hidden;
  width: 50vw;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  // align-items: center;
  // border-radius: 30px;
  transition: 0.5s;
  border-radius: 32px;
  width: 45%;

    &:hover {
      transform: scale(1.010);
      box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
      z-index: 2;
      border-color: #007bff !important;
    }
}

.newsfeed-card-new img {
  height: 100%;
  width: 12vw;
  object-fit: cover;
}

.newsfeed-card-new h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: justify;
  font-family: 'Nunito', sans-serif;
}

.newsfeed-card-new p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: justify;
  color: black;
}

.newsfeed-card-new .newsfeed-card-infos {
  padding: 20px;
  position: relative;


    .upper-right-location {
      position: absolute;
      top: -10px;
      right: 20px;
      color: rgb(140, 138, 138);
      font-size: 12px;
    }

    .upper-left-date {
      position: absolute;
      top: -10px;
      left: 20px;
      color: rgb(140, 138, 138);
      font-size: 12px;
    }
}

// .newsfeed-card-new {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .newsfeed-card-new {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .newsfeed-card-new {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .newsfeed-card-new {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .newsfeed-card-new {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .newsfeed-card-new {
//     grid-template-columns: 1fr 1fr;
//   }
// }
